<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>x64</Platform>
		<PublishDir>bin\Publish\MSIX\</PublishDir>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>true</PublishReadyToRun>
		<PublishTrimmed>false</PublishTrimmed>
		<GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
		<AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
		<AppxBundle>Never</AppxBundle>
		<UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
	</PropertyGroup>
</Project>