<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <!-- Application files component group -->
  <Fragment>
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">

      <!-- Main executable -->
      <Component Id="MTGB_exe_comp" Guid="E1F2A3B4-C5D6-4E7F-8A9B-0C1D2E3F4A5B">
        <File Id="MTGB_exe" Source="$(var.MTGB.ProjectDir)bin\x64\Release\publish\win-x64-singlefile\MTGB.exe" KeyPath="yes" />
      </Component>

      <!-- Start Menu shortcut with HKCU registry KeyPath -->
      <Component Id="MTGB_shortcut_comp" Guid="E2F3A4B5-C6D7-4E8F-9A0B-1C2D3E4F5A6B">
        <RegistryValue Root="HKCU"
                       Key="Software\Myndworx Asylum\MTGB"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
	    <Shortcut Id="StartMenuShortcut"
				  Directory="ProgramMenuFolder"
				  Name="MTGB"
				  Description="The Monitor That Goes Bing"
				  WorkingDirectory="INSTALLFOLDER"
				  Target="[INSTALLFOLDER]MTGB.exe"
				  Icon="MTGBIcon.exe" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- Assets folder: icon, sound, countries data -->
  <Fragment>
    <ComponentGroup Id="AssetsFiles" Directory="AssetsFolder">

      <!-- Notification sound -->
      <Component Id="mtgbNotification_wav_comp" Guid="B3C4D5E6-F7A8-4B9C-0D1E-2F3A4B5C6D7E">
        <File Id="mtgbNotification_wav" Source="$(var.MTGB.ProjectDir)Assets\mtgbNotification.wav" />
      </Component>

      <!-- Countries data -->
      <Component Id="countries_json_comp" Guid="C4D5E6F7-A8B9-4C0D-1E2F-3A4B5C6D7E8F">
        <File Id="countries_json" Source="$(var.MTGB.ProjectDir)Assets\countries.json" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- Runtime folders with write permissions for all users -->
  <Fragment>
    <ComponentGroup Id="RuntimeFolderPermissions">

	  <Component Id="DataFolderPermissions_comp"
	    	     Directory="DataFolder"
				 Guid="0A1B2C3D-4E5F-4A6B-7C8D-9E0F1A2B3C4D">
	    <CreateFolder>
		  <util:PermissionEx User="Users" GenericAll="yes" />
		</CreateFolder>
		<RegistryValue Root="HKLM"
					   Key="Software\Myndworx Asylum\MTGB"
					   Name="InstallFolder"
					   Type="string"
					   Value="[INSTALLFOLDER]"
					   KeyPath="yes" />
		<util:RemoveFolderEx On="uninstall" Property="INSTALLFOLDER" />
		<RemoveFolder Id="RemoveDataFolder" Directory="DataFolder" On="uninstall" />
	  </Component>

	  <Component Id="LogsFolderPermissions_comp"
				 Directory="LogsFolder"
				 Guid="2C3D4E5F-6A7B-4C8D-9E0F-1A2B3C4D5E6F">
		<CreateFolder>
		  <util:PermissionEx User="Users" GenericAll="yes" />
		</CreateFolder>
		<RemoveFolder Id="RemoveLogsFolder" Directory="LogsFolder" On="uninstall" />
	  </Component>

    </ComponentGroup>
  </Fragment>

</Wix>